.App{
width: 100vw;
height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Container {
  display: flex;
  justify-content: center;
  

  width: 75vw;
  height: 75vh;

  box-shadow: 50px 50px 100px  lightblue;

  border-radius: 50px;

}
